.footnote
  .footnote__content.container
    ul.footnote__list
      li.footnote__item
        p.footnote__text <sup><small>1</small></sup> Reprehenderit - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      li.footnote__item
        p.footnote__text <sup><small>2</small></sup> Tempor - Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      li.footnote__item
        p.footnote__text <sup><small>3</small></sup> Amet - Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.