.posts
  .posts__content.container
    ul.posts__list
      li.posts__item.posts__item_1
        .post__block
          .post__elem
            h4.post Post header 1
            .icon
          p.hidden-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      li.posts__item.posts__item_2
        .post__block  
          .post__elem
            h4.post Post header 2
            .icon
          p.hidden-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   
      li.posts__item.posts__item_3
        .post__block
          .post__elem
            h4.post Post header 3
            .icon
          p.hidden-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      li.posts__item.posts__item_4
        .post__block
          .post__elem
            h4.post Post header 4
            .icon
          p.hidden-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   
      li.posts__item.posts__item_5
        .post__block
          .post__elem
            h4.post Post header 5
            .icon
          p.hidden-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.   